#root {
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Header Component */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 85px;
  gap: 0.7em;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 
    0 0px 3px 0 rgba(0, 0, 0, 0.1);
}

.header .site-name{
  font-size: 2rem;
}

.user-input-form-container {
  height: 100px;
}

/* Ingredient input form field*/
.form {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  height: 45px;
  max-width: 100%;
}

.form .add-ingredient-btn {
  background-color: black;
  min-width: 145px;
  max-width: 100%;
}

.add-ingredient-btn::before {
  content: "+";
  margin-right: 0.3em;
}

.form input[type="text"] {
  padding: 0.1em 1.2em;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #D1D5DB;
  color: black;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:active, 
input[type="text"]:focus {
  outline: none;
}

ul, ol {
  padding-left: 0; 
  color: gray;
}

ul > li, ol > li {
  list-style-position: inside;
}

.ingredients-list {
  padding: 0;
  margin-top: 2em;
}

.ingredients-list h2 {
  margin-bottom: 0.8em;
  color: #1a1a1a;
}

.ingredients-list li {
  display: list-item;
  color: gray;
  list-style-position: inside;
  width: 70%;
  flex: 1;
}
/* 
.delete-ingredient {
  float: right;
  transition: color 0.2s ease;
  color: #6B7280;
  padding: 0;
} */

.delete-ingredient:hover {
  color: #1a1a1a;
}

.delete-ingredient:active, .delete-ingredient:focus {
  outline: none;
}

.ingredients-list li::marker {
  font-size: 1.4rem;
}

.ingredients-list li:not(:last-of-type) {
  margin-bottom: 0.6em;
}

/* Get recipe section */
.get-recipe-container {
  background-color: #F0EFEB;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  padding: 1em 1.5em;
  margin-top: 3em;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.get-recipe-container > div > h2 {
  color: #1a1a1a;
  font-size: 1rem;
  line-height: 2;
}

.get-recipe-container > div > p {
  color: #6B7280;
  font-size: 0.9rem;
}

.get-recipe-btn {
  background-color: #D17557;
  color: #ffffff;
  min-width: 115px;
}

/* Recipe Section */
.recipe-container {
  color: gray;
  margin-top: 2em;
}

.recipe-container .recipe-header {
  margin-bottom: 1em;
  font-size: 2rem;
}

.recipe-container h1, .recipe-container h2 {
  color: #1a1a1a;
}

.recipe-container > h1 {
  margin-bottom: .5em;
}

.recipe-container > h2 {
  margin-top: .8em;
}

.three-char-message {
  color: gray;
  font-style: italic;
  font-size: 0.9rem;
}

.ingredients-message {
  color: gray;
  margin-top: 0.5em;
  font-style: italic; 
  font-size: 0.88rem;
}

/* Media queries */
@media (max-width: 470px) {
  .user-input-form-container {
    height: 122px;
    margin-top: 1em;
  }

  .form {
    flex-direction: column;
  }

  .form input[type="text"] {
    padding: 0.6em 1.2em;
    width: 100%;
  }

  .ingredients-message {
    margin-top: 2em;
  }

  .ingredients-list {
    margin-top: 1em;
  }

  .ingredients-list h2 {
    margin-bottom: 0.4em;
  }

  .get-recipe-container {
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
  }

  .get-recipe-btn {
    width: 100%;
  }
  
  .recipe-container .recipe-header {
    font-size: 1.6rem;
  }

  .recipe-container h1 {
    font-size: 1.4rem;
  }
  .recipe-container h2 {
    font-size: 1.1rem;
  }
}