#root {
  max-width: 100vw;
  margin: 0 auto;
}

/* Header Component */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 85px;
  gap: 0.7em;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 
    0 0px 3px 0 rgba(0, 0, 0, 0.1);
}

.header .site-name{
  font-size: 2rem;
}

.user-input-form-container {
  height: 100px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  height: 45px;
  width: 100%;
}

.form .add-ingredient-btn {
  background-color: black;
  min-width: 145px;
  max-width: 100%;
}

.add-ingredient-btn::before {
  content: "+";
  margin-right: 0.3em;
}

.form input[type="text"] {
  padding: 0.1em 1.2em;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #D1D5DB;
  color: black;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
}

.form input[type="text"]:active, 
input[type="text"]:focus {
  outline: none;
}

ul, ol {
  padding-left: 0; 
  color: gray;
}

ul > li, ol > li {
  list-style-position: inside;
}

.ingredients-list {
  padding: 0;
  margin-top: 2em;
}

.ingredients-list h2 {
  margin-bottom: 0.8em;
  color: #1a1a1a;
}

.ingredients-list li {
  color: gray;
  list-style-position: inside;
}

.ingredients-list li:not(:last-of-type) {
  margin-bottom: 0.6em;
}

.get-recipe-container {
  background-color: #F0EFEB;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  padding: 1em 1.5em;
  margin-top: 3em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.get-recipe-container > div > h2 {
  color: #1a1a1a;
  font-size: 1rem;
  line-height: 2;
}

.get-recipe-container > div > p {
  color: #6B7280;
  font-size: 0.9rem;
}

.get-recipe-btn {
  background-color: #D17557;
  color: #ffffff;
  min-width: 115px;
}

.recipe-container {
  color: gray;
  margin-top: 2em;
}

.recipe-container h3 {
  color: #1a1a1a;
}

.three-char-message {
  color: gray;
  font-style: italic;
  font-size: 0.9rem;
}